/*début couleurs*/
:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
    --red: #e2231a;
    --black: #000;
    --lightPurple: #e210e2;
    --green: #068106;
    --blue: #0077ff;
    --darkPurple : #6a00ff;
}
/*fin couleurs*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* début css navbar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo{
    box-shadow: 0 0 80px var(--primary);
}

nav{
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);


}

container.h1{
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;

}



.hamburger{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;

}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
    transform: translateX(15px);
}


.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
}


.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

menu a.is-active, .menu a:hover{
    background-color: var(--primary);
}

@media (min-width: 768px) {
    .hamburger{
        display: none;

    }
    .menu{
        display: flex;
    }
}
/* Fin css navbar*/

body{
    background-color: var(--dark);
    color: var(--light);
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 250px;
    font-family: 'Popins', sans-serif !important;
}


/*Début css loader*/
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lettre{
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash{
    0%{
        color: var(--primary);
        text-shadow: 0 0 7px var(--primary);
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: var(--primary);
        text-shadow: 0 0 7px var(--primary);
    }
}
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}


.foudu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
/*Fin css loader*/

/*Début slide*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.content h1 {
    font-family: Raleway, sans-serif;
    /*font-size: 60px;*/
    padding: 0.5em 0;
}

.content p {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

.slide-in {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
}
.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}
.slide-in h2 {
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
}

.form-group {
    margin: 20px auto 10px;
    width: 20%;
    display: flex;
}
.slide-in input {
    width: 350px;
    padding: 8px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
/*Fin slide*/

.titleOP{
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 80px;
}

.title2{
    font-size: 40px 
}

.title1{
    font-size: 45px;
}

/*Content visibility animation*/

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition : all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/*fait disparaitre la scroll bar*/
body::-webkit-scrollbar {
    display: none;
}

/*Début css profil*/
myProfil{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

/*start skill bar css*/
.skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--dark);
    border-radius: 10px;
    box-shadow: 0 19px 38px var(--primary), 0 15px 12px var(--primary);
  }
  
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: var(--light);
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: var(--dark);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: var(--primary);
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    text-transform:uppercase;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 80%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .bootstrap {
    width: 82%;
  }
  .progress-line .javascript {
    width: 62%;
  }
  .progress-line .c {
    width: 90%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: var(--light);
    border-top-color: var(--light);
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: var(--light);
    font-size: 12px;
    font-weight: 700;
    background: var(--dark);
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  
  .progress-line .html::after {
    content: "80%";
  }
  .progress-line .css::after {
    content: "70%";
  }
  .progress-line .bootstrap::after {
    content: "82%";
  }
  .progress-line .javascript::after {
    content: "62%";
  }
  .progress-line .c::after {
    content: "90%";
  }

/*end skill bar css*/
  
/*Début css button*/

  /* 8 */
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: var(--light);
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
 
  /* 8 */
  .btn-8 {
    background-color: var(--light);
    background-image: linear-gradient(315deg, var(--darkPurple) 0%, var(--primary) 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-8:before,
  .btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--primary);
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8:before{
     height: 0%;
     width: 2px;
  }
  .btn-8:after {
    width: 0%;
    height: 2px;
  }
  .btn-8:hover:before {
    height: 100%;
  }
  .btn-8:hover:after {
    width: 100%;
  }
  .btn-8:hover{
    background: transparent;
  }
  .btn-8 span:hover{
    color: var(--primary);
  }
  .btn-8 span:before,
  .btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: var(--primary);
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-8 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-8 span:hover:before {
    height: 100%;
  }
  .btn-8 span:hover:after {
    width: 100%;
  }
  

/*Start picture Slider*/

.slider{
  width: 900px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 80px var(--primary);
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 900px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 900px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid var(--primary);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: var(--primary);
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 900px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid var(--primary);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: var(--primary);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: var(--primary);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: var(--primary);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: var(--primary);
}

/*images lcs*/

.Lcs-img1{
  display: block;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin-right: 50%;
}

.Lcs-img2{
  display: block;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin-left:50%;
}

.Lcs-img3{
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.Lcs-img1:hover{
  transform: scale(2.0);
  transition: 1s;
}

.Lcs-img2:hover{
  transform: scale(2.0);
  transition: 1s;
}

.Lcs-img3:hover{
  transform: scale(1.4);
  transition: 1s;
}

/*Mouse animation*/

.mouse {
  z-index: -1;
  height: 60px;
  width: 32px;
  border: 3px solid white;
  border-radius: 32px;
  position: absolute;
  .scrollWheel {
    height: 20px;
    width: 2px;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
    border-radius: 1px;
    transform: scaleY(0);
    animation: scroll 2s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  25% {
    transform: scaleY(1);
    transform-origin: top;
  }
  26% {
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.mouse-back{
  padding: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
}
/*Fin mouse*/

/*Start pictures*/
.ESIG{
  background-color: #FFF;
  border-radius: 10px;
  box-shadow:var(--green) 10px 10px 80px 10px;
}


.IncotecLogo{
  border-radius: 10px;
  box-shadow:var(--blue) 10px 10px 80px 10px;
  height: 125px;
}

.IncovarView{
  border-radius: 10px;
  width: 900px;
  box-shadow: #0077ff 10px 10px 80px 10px;
}

.IncovarView:hover{
  transform: scale(1.5);
  transition: 1s;
}

.incovarAvant{
  border-radius: 10px;
  width: 445px;
  margin-right:0%;
  padding: 5px;
}

.incovarAvant:hover{
  transform: scale(1.7);
  transition: 1s;
}

.incovarApres{
  border-radius: 10px;
  width: 445px;
  margin-left:0%;
  padding: 5px;
}

.incovarApres:hover{
  transform: scale(1.7);
  transition: 1s;
}

.incotecPI{
  border-radius: 10px;
  width: 900px;
}

.Gif{
  border-radius: 10px;
  width: 900px;
  box-shadow: var(--primary) 10px 10px 80px 10px;
}

.CopilotX{
  border-radius: 10px;
  width: 900px;
  box-shadow: var(--primary) 10px 10px 80px 10px;
}

.GithubLogo{
  border-radius: 10px;
  width: 450px;
  box-shadow: var(--primary) 10px 10px 80px 10px;
}

.logoAI{
  border-radius: 10px;
  height: 100px;
  background-color: var(--light);
  box-shadow: var(--primary) 10px 10px 80px 10px;
}
/*Fin pictures*/


